<!DOCTYPE html>
<html>
    <head>
        <title> Ascii-art Web</title>
    </head>
    <body>
        <form action="/ascii-art" method="POST">
            <label for="textarea">Text to be converted</label><br>
            <textarea name="text_input" placeholder="Type Here"></textarea><br>
            <label for="banner styles">Banner Styles</label><br>
            <input type="radio" id="standard" name="banner_style" value="Standard"><br>
            <input type="radio" id="shadow" name="banner_style" value="Shadow"><br>
            <input type="radio" id="thinkertoy" name="banner_style" value="Thinkertoy"><br><br>
            <input type="submit" value="submit"><br>
        </form>
    </body>
</html>