<!DOCTYPE html>
<html>
    <head>
        <title> Ascii-art Web</title>
        <style>
            body {
                background-color: rgb(78, 198, 235);

            }
            form {
                background-color: antiquewhite;
                text-align: left;
                width: 300px;
                border: 10px solid green;
                padding: 50px;
                margin: auto;
                
            }

        </style>
    </head>
    <body>
        <form action="/ascii-art" method="POST">
            <label for="textarea">Text to be converted</label><br>
            <textarea name="text_input" placeholder="Type Here"></textarea><br>
            <label for="banner styles">Banner Styles</label><br>
            <input type="radio" id="standard" name="banner_style" value="Standard">
            <label for="standard">Standard</label><br>
            <input type="radio" id="shadow" name="banner_style" value="Shadow">
            <label for="shadow">Shadow</label><br>
            <input type="radio" id="thinkertoy" name="banner_style" value="Thinkertoy">
            <label for="thinkertoy">Thinkertoy</label><br><br>
            <input type="submit" value="submit">
            <input type="reset" value="reset">
        </form>
    </body>
</html>