<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/ascii-art" method="POST">
        <label for="input_text"></label>
        <textarea name="input_text" id="input_text"></textarea>
        <label for="banner_style"></label>
        <select name="banner_style" id="banner_style">
            <option value="standard">standard</option>
            <option value="shadow">shadow</option>
            <option value="thinkertoy">thinkertoy</option><br><br>

            <input type="submit" value="Submit">
        </select>
    </form>

    {{if .Result}}
        <pre>{{.Result}}</pre>
     
        <a href="http://localhost:8080/ascii-art-switch?text={{.Text}}&banner=standard" class="active">Standard</a>
        <a href="http://localhost:8080/ascii-art-switch?text={{.Text}}&banner=shadow" class="active">Shadow</a>
        <a href="http://localhost:8080/ascii-art-switch?text={{.Text}}&banner=thinkertoy" class="active">Thinkertoy</a>

    {{end}}
</body>
</html>